*{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.blue-login {
    background-color: #fff;
    height: 100vh;
}
.card-login {
    width: 23rem;
}

nav{
    z-index: 100;
} 

#sidebar:hover {
    background-color: transparent;
}
/* .btn{
    --bs-btn-border-width: none
}

.btn:hover{
    background-color: #F0F0F0;
} */

#form-control-login {
    width: 100%;
    max-width: 100%;
}

#form-control-input {
    width: 100%;
    max-width: 100%;
}



.form-control {
    width: 100%;
    max-width: 100%;
    border-radius: 0.3rem;
    height: 2.7rem;
    border-color:#1F1E5B;
    display: block;
    box-shadow: none !important;
}

.form-select {
    border-radius: 0.2rem;
    height: 3.2rem;
    box-shadow: none !important;
    border-color: #cacaca;
}

.form-select option {
    background-color: #ffffff;
    color: #000;
    height: 3.2rem;
}

.form-select::placeholder {
    color:#cacaca;
}

.form-control::placeholder {
    color:#cacaca;
}

.loginbutton {
    background-color: #6e84b1;
    border-color: #1F1E5B;
    border-radius: 0.5rem;
    height: 3rem;
}

.loginbutton:hover {
    background: #6e84b1de;
}

.image-logo {
    padding: rem;
}

#bold-font {
    font-weight: bold;
}

.sidebarbutton {
    background-color: #fff;
    height: 4rem;
}

.sidebar {
    width: 17rem;
    background-color:#fff;
    height: 100vh;
    margin-top: 5rem;
    position: fixed;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.btn, .sidebarbutton {
    --bs-btn-border-width: 0 !important;
}

.table-height {
    height: 4.5rem;
    vertical-align: middle;
}


.sidebar a {
    text-decoration: none;
    display: block;
    color: #4b5563;
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;

    

}

.sidebar.open {
    left: 0;
}

.sidebar a:hover {
    background-color:#f3f4f6;
    color: #4b5563;
    border-radius: 0.5rem;
    transition: color 0.3 ease;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.sidebar-false{
    margin-left: -17rem;
}

#inner-accordion {
    margin-left: 3rem;
}

.accordion-body {
    padding: 0 !important;
}


.accordion{
    --bs-accordion-bg:#fff;
    --bs-accordion-color: #4b5563 !important;
    --bs-accordion-border-width: 0 !important;

}

.accordion-button:not(.collapsed){
    background-color: #fff;
    color: #4b5563;
    box-shadow: none;
}

.accordion-button{
    color: #4b5563;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

.accordion-button::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 stroke=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.accordion-button:not(.colapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 stroke=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
    color: #4b5563 !important;
}

.content {
    padding-top: 6.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 8rem;
}

.backbutton {
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    position: fixed;
    
}

.p-dropdown, .p-multiselect {
    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem !important;
    padding-left: 1rem;
    box-shadow: none !important;
}


.p-dropdown-trigger, .p-multiselect-trigger {
    padding-right: 1rem;
    
}

.p-dropdown-items, .p-multiselect-items {
    list-style: none;
    padding: 0;

}

.p-dropdown-item, .p-multiselect-item {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #cacaca;
    margin-right: 0;
    padding-left: 1rem;
    height: 3.2rem;
    padding-top: 0.7rem;
    
}



.p-dropdown-items-wrapper, .p-multiselect-panel {
    background-color: #fff;
    border: 1px solid #cacaca;
    overflow-wrap: break-word ;

}

.p-dropdown-filter-container {
    background-color: #fff;
}

.p-dropdown-filter {
    width: 100%;
    height: 3.2rem;
    padding-left: 1rem;
    border: 1px solid #007BFF;
    border-radius: 0.2rem;
    
}

.p-dropdown-header, .p-multiselect-header {
    background-color: #fff;
    border: 1px solid #cacaca;
}

.p-accordion {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
}

.p-accordion-header {
    background-color: #fff;
}

.option-button-svg {
    color: #3a3636;
    background-color: #fff;
    border: 0.1rem solid #dddee0;
    float: right;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 100%;
}

.svg-askep {
    width: 50%;
    color: #3a3636;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.option-text {
    margin-right: 0.7rem;
}


.search-input {
    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

.search-input-admin {
    width: 40%;
    max-width: 40%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

.search-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}


.custom-table {
    width: 100%;
    max-width: 100%;
    border : 1px solid #cacaca;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.custom-table thead th {
    background-color: #f7f7f7;
    border: 1px solid #cacaca;
    color: #000000;
    padding-left: 1rem;
    text-align: left;
    height: 3.2rem;
    width: 100%;

}


.custom-table tbody td{
    border:  1px solid #cacaca;
    color: #000000;
    padding-left: 1rem;
    height: 3.2rem;
    width: 100%;
}


.custom-table-rounded {
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
}

.custom-table-rounded thead th {
    border: none;
    color: #000000;
}

.custom-table-rounded thead th:first-child {
    border-radius: 0.2rem 0 0 0;
}

.custom-table-rounded thead th:last-child {
    border-radius: 0 0.2rem 0 0;
}

.custom-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.2rem;
}

.custom-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 0.2rem 0;
}

.custom-table-rounded tbody td {
    border: none;
    border-top: 1px solid #cacaca;
}

.breadcrumb-item > a{
    margin-left: .5rem;
    text-decoration: none;
}

.form-control{
    border: 1px solid #cacaca;
}

th, td {
    justify-content: center;
}

.table {
    margin-top: 2rem;
}

#kode_luaran {
    color: #006918;
}

#kode_intervensi {
    color: #161f7d ;
}

#kode_diagnosa {
    color: #4f0b0a;
}

.simple-button {
    background-color: #ffffff;
    height: 2.5rem;
    width: 80%;
    max-width: 80%;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.2rem;
    border: 0.01rem solid #cacaca;

}

.p-datatable-tbody {

    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  */
  }

.green-active-button {
    background-color: #4ed14e;
    height: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #fff
}

.red-nonactive-button {
    background-color: #ff0000;
    height: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #fff;
}


.simple-button:hover {
    border: 1px solid #cacaca;
    background-color: #fffffff8;
}

.cancel {
    margin-right: 1rem;
}

.blue-button {
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    float: right;
    border: 1px solid #007BFF;
}

.blue-button-lg {
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    float: right;
    border: 1px solid #007BFF;
}

.blue-button-left-align {
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    /* margin-bottom: 1rem; */ 
    border: 1px solid #007BFF;
}

.diagnosa-button {
    background-color: #e6f5ff;
    color: #0099ff ;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    height: 3rem;
    font-weight:  600;
  
}

.intervensi-button {
    background-color: #e6f5ff;
    color: #0099ff ;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    height: 3rem;
    font-weight:  600;
}

.modify {
    padding-left: 0.7rem;
    padding-top: 0.5rem;
}

.container-modify {
    background-color: #fff;
    width: 95%;
    max-width: 100%;
    border-radius: 0.4rem;
    padding-Left: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagnosa-button:hover {
    box-shadow: 0 0 0px 2px #0099ff;
}

.box-panel {
    background-color: #e6f5ff;
    margin-top: 2rem;
    border-radius: 0.5rem;

}

.blue-button-left-align:hover, .blue-button-lg:hover {
    background-color: #0069D9;
    color: #fff;
}




.red-button {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    float: right;
}



.red-button:hover {
    background-color: #e02807;
    color: #ffffff;
}

.white-button {
    background-color: #ffffff;
    color: #000;
    border-radius: 0.2rem;
    border: 1px solid #cacaca;
}

.box {
    width: 100%;
    max-width: 100%;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#suhu {
    width: 20%;
    max-width: 20%;
}

#small-box-left {
    width: 10%;
    max-width: 10%;
    border-right-color: #fff;
}

#small-box-right {
    width: 10%;
    max-width: 10%;
    border-left-color: #fff;
}

#invisible {
    background-color: #fff !important;
    border-top-color: #cacaca;
    border-bottom-color: #cacaca;
    border-left-color: #fff;
    border-right-color: #fff;
}

#visibility-button {
    font-size: smaller;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #007BFF;
}

#visibility-button:hover {
    color: #cacaca;
}

#custom-margin {
    margin-right: 1.5rem ;
}

#custom-row {
    margin-top: 1rem;
}

.blue-button:hover {
    background-color: #0069D9;
    color: #ffffff;

}

.table-striped tbody tr:nth-last-of-type(odd) {
    background-color: #f7f7f7;
}

.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    border-radius: 0.7rem;
}

.hr-style {
    color: #161f7d;
  
}

.default {
    margin-top: 2rem !important;
}



/* Buat Mobile */
@media (max-width: 600px) {
    /* .container {
        width: auto !important;
        --bs-gutter-x: 0 !important;
    } */

    h2 {
        text-align: center !important;
    }
    #suhu {
        width: 88%;
        max-width: 88%;
    }

    #small-box-left, #small-box-right {
        width: 35%;
        max-width:37%;
    }


    .blue-button-left-align, .blue-button-lg, .diagnosa-button {
        width: 100%;
        max-width: 100%;
    }

    .p-toolbar-group-end {
        width: 100%;
    }
    
    .table td {
        padding-top: 1rem ;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    

    .form-control {
        width: 100%;
        max-width: 100%;
    }


    .search-input-admin {
        width: 100%;
        max-width: 100%;
    }

    .custom-table th:nth-child(1),
    .custom-table td:nth-child(1) {
        width: auto;
    }

    .custom-table th:nth-child(2),
    .custom-table td:nth-child(2) {
        width: auto;
    }

    .table-height {
        height: 3rem;
    }

    .svg-askep {
        width: 50%;
        color: #3a3636;
        margin-right: 1rem;
        margin-bottom: 0.2rem;
    }

    .option-button-svg {
        color: #3a3636;
        background-color: #fff;
        border: 0.1rem solid #dddee0;
        float: right;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .option-text {
        margin-right: 0.5rem;
    }
    

    
   
    
}





