*{
    font-family: "Inter", sans-serif;
}



.blue-login {
    background-color: #fff;
    height: 100vh;
}
.card-login {
    width: 23rem;
}

nav{
    z-index: 100;
} 



#sidebar:hover {
    background-color: transparent;
}
/* .btn{
    --bs-btn-border-width: none
}

.btn:hover{
    background-color: #F0F0F0;
} */

.grid-column {
    display: grid; 
    grid-template-columns: auto auto auto;
    background-color: #e9ecef;
    margin: 0;
    grid-gap: 1px;
}

.grid-column > div {
    background-color: #fff;
    padding: 5px 6px;
    margin: 1px 0;
}

.grid-column-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    grid-gap: 1px;
}


.grid-column-2 > div {
    background-color: #fff;
    padding: 5px 6px;
}



.p-card {
    box-shadow: none;
    margin: 0;
    padding: 0;
    background: none;
}

.p-card-body {
    margin: 0;
    padding: 0;
}

.div-header {
    border: 1px solid #e9ecef;
    padding: 1px;
}

.div-header col {
    margin: 0 !important;
}

div.bordered-form.row {
    border: 1px solid #e9ecef;
}


.label-form {
    display: inline-block;
    width: 120px;
    margin: 0;
    padding: 0;
}



#form-control-header {
    border: none ;
    border-radius: 0;
}

#form-control-header-form, #form-control-header-form:disabled {
    background: none !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    display: inline-block;
    height: inherit;


}

#form-control-header:disabled {
    background-color: #fff !important;
}

#form-control-login {
    width: 100%;
    max-width: 100%;
}

#form-control-input {
    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    border-radius: 0.23rem;
}

.form-control {
    width: 100%;
    max-width: 100%;
    border-radius: 0.3rem;
    height: 2.7rem;
    border-color:#1F1E5B;
    display: block;
    box-shadow: none !important;
}

.form-select {
    border-radius: 0.2rem;
    height: 3.2rem;
    box-shadow: none !important;
    border-color: #cacaca;
}

.form-select option {
    background-color: #ffffff;
    color: #000;
    height: 3.2rem;
}

.form-select::placeholder {
    color:#cacaca;
}

.form-control::placeholder {
    color:#cacaca;
}

.loginbutton {
    background-color: #4287f5 !important;
    border-color: #1F1E5B;
    border-radius: 0.5rem;
    height: 3rem;
}

.loginbutton:active {
    background-color: #4287f5;
}

.loginbutton:hover {
    background: #4287f5;
}

.image-logo {
    padding: rem;
}

#bold-font {
    font-weight: bold;
}

.sidebarbutton {
    background-color: none;
    height: 4rem;
}




.sidebar_small {
    width: 18rem;
}

.sidebar {
    background-color:#ffffff;
    height: 100vh;
    margin-top: 5rem;
    position: fixed;
    padding-left: 0rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    z-index: 99;
    box-shadow: 0 0 10px #dee2e6;
    transition: margin-left 0.3s ease-in-out; 
}

.label {
    background-color: #bbdcf1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.01rem solid #bbdcf1;
    border-radius: 0.2rem;
}

.label-askep, .label-askep:hover {
    background-color: #bbdcf1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.01rem solid #fff;
    border-radius: 0.2rem; 
    color: #4b5563;
    text-decoration: none;
    
}





.btn, .sidebarbutton {
    --bs-btn-border-width: 0 !important;
}

.table-height {
    height: 4.5rem;
    vertical-align: middle;
}

.select-form {
    max-width: 100%;
    width: 100%;
    height: 2.7rem;
    border: 1px solid #cacaca;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.select-form:focus {
    outline: none;
}

.select-option {
    height: 2.7rem;
}



.sidebar a {
    text-decoration: none;
    display: block;
    color: #4b5563;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border-bottom: 1px solid #e9ecef; */
    font-size: 13px;
}


.sidebar a:hover {
    background-color:#f3f4f6;
    color: #4b5563;
    transition: color 0.3 ease;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}


.sidebar-false{
    margin-left: -20rem;
}

.content-true {
    margin-left: 18rem;
     transition: margin-left 0.3s ease-in !important;
}

#inner-accordion {
    margin-left: 1rem;
}

.accordion-button:not(.collapsed) .accordion-icon {
    color: #4b5563 !important;
}

.accordion-body {
    padding: 0 !important;
}

.accordion-body a {
    font-size: 14px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}




.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius:0 !important;
    border-bottom-left-radius: 0 !important;
}


.accordion{
    --bs-accordion-bg:#fff;
    --bs-accordion-color: #4b5563 !important;
    --bs-accordion-border-width: 0 !important;
    --bs-accordion-border-radius: 0 !important;
    --bs-accordion-inner-border-radius: 0 !important;


}

.accordion-button:not(.collapsed){
    background-color: #fff;
    color: #4b5563;
    box-shadow: none;
}

.accordion-button{
    color: #4b5563;
    font-size: 13px;
    border-bottom: 1px solid #e9ecef;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

.accordion-button::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 stroke=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.accordion-button:not(.colapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 stroke=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
    color: #4b5563 !important;
}

.content {
    padding-top: 6.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 8rem;
}

.backbutton {
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    position: fixed;
    
}

.p-dropdown, .p-multiselect {
    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem !important;
    padding-left: 1rem;
    box-shadow: none !important;
}


.p-dropdown-trigger, .p-multiselect-trigger {
    padding-right: 1rem;
    
}

.p-dropdown-items, .p-multiselect-items {
    list-style: none;
    padding: 0;

}

.p-dropdown-item, .p-multiselect-item {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #cacaca;
    margin-right: 0;
    padding-left: 1rem;
    height: 3.2rem;
    padding-top: 0.7rem;
    
}

div.p-dropdown-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
    z-index: 1200 !important;
}


.p-dropdown-items-wrapper, .p-multiselect-panel {
    background-color: #fff;
    border: 1px solid #cacaca;
    overflow-wrap: break-word ;


}

.p-dropdown-filter-container {
    background-color: #fff;
}

.p-dropdown-filter {
    width: 100%;
    height: 3.2rem;
    padding-left: 1rem;
    border: 1px solid #007BFF;
    border-radius: 0.2rem;
    
}

.p-dropdown-header, .p-multiselect-header {
    background-color: #fff;
    border-bottom: 1px solid #cacaca;

}

.p-accordion {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
}

.p-accordion-header {
    background-color: #fff;
    
}

.option-button-svg, .option-button-svg:hover {
    color: #3a3636;
    background-color: #fff;
    border: 0.1rem solid #dddee0;
    border-radius: 0.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.svg-askep {
    width: 100%;
    color: #4b5563;
    margin: 0 auto;
}

/* .option-text {
    margin-right: 0.7rem;
} */


.search-input {
    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

.search-input-admin {
    width: 40%;
    max-width: 40%;
    height: 3.2rem;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

.search-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}


.custom-table {
    width: 100%;
    max-width: 100%;
    border : 1px solid #cacaca;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.custom-table thead th {
    background-color: #f7f7f7;
    border: 1px solid #cacaca;
    color: #000000;
    padding-left: 1rem;
    text-align: left;
    height: 3.2rem;
    width: 100%;

}


.custom-table tbody td{
    border:  1px solid #cacaca;
    color: #000000;
    padding-left: 1rem;
    height: 3.2rem;
    width: 100%;
}


.custom-table-rounded {
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
}

.custom-table-rounded thead th {
    border: none;
    color: #000000;
}

.custom-table-rounded thead th:first-child {
    border-radius: 0.2rem 0 0 0;
}

.custom-table-rounded thead th:last-child {
    border-radius: 0 0.2rem 0 0;
}

.custom-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.2rem;
}

.custom-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 0.2rem 0;
}

.custom-table-rounded tbody td {
    border: none;
    border-top: 1px solid #cacaca;
}

.breadcrumb-item > a{
    margin-left: .5rem;
    text-decoration: none;
}

.form-control{
    border: 1px solid #cacaca;
    font-size: 14px;
}

th, td {
    justify-content: center;
}

tr {
    vertical-align: middle;
}

table {
    border-collapse: separate !important;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
}

#table-pdf {
    border: 1px #000 solid; 
    border-collapse: collapse !important;  
}

#table-pdf th , #table-pdf td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#table-pdf th {
    text-align: center;
    font-weight: 500;
}

.pdf-td {
    text-align: center;
    width: 13rem !important;
    
}

.pdf

#tanggal-pdf {
    width: 9rem;
}

#askep-pdf {
    width: 15rem;
}

#table-pdf td {
    white-space: normal;
}

.logo-pdf {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 5rem;
}

.header-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-pdf {
    text-align: center;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 4rem;
}

.container-pdf {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.watermark-pdf {
   opacity: 0.03;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30rem;
}

.container-svg {
    display: flex;
    justify-content: center;

}

.bordered {
    border: solid #dee2e6 1px;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #ECECEC;    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {
    /* border-left: 1px solid #ccc; */
    border-top: 1px solid #dee2e6;
    padding: 1rem;
    text-align: left;
}
.bordered th {
    background-color: #f8f9fa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);    
    background-image: linear-gradient(top, #F8F8F8, #ECECEC);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 0.2rem 0 0 0;
    -webkit-border-radius: 0.2rem 0 0 0;
    border-radius: 0.2rem 0 0 0;
}
.bordered th:last-child {
    -moz-border-radius: 0 0.2rem 0 0;
    -webkit-border-radius: 0 0.2rem 0 0;
    border-radius: 0 0.2rem 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 0.2rem;
    -webkit-border-radius: 0 0 0 0.2rem;
    border-radius: 0 0 0 0.2rem;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 0.2rem 0;
    -webkit-border-radius: 0 0 0.2rem 0;
    border-radius: 0 0 0.2rem 0;
} 

.pdf-intervensi {
    margin-bottom: 7rem;
}



thead {
    background-color: #f9fafb;
    padding: 1rem;
}

#kode_luaran {
    color: #006918;
}

#kode_intervensi {
    color: #161f7d ;
}

#kode_diagnosa {
    color: #4f0b0a;
}

.simple-button {
    background-color: #ffffff;
    color: #6e84b1;
    height: 3rem;
    width: 60%;
    max-width: 60%;
    text-align: center;
    border-radius: 0.3rem;
    border: 0.01rem solid #dee2e6;
    box-shadow: inset 0 0 0.1rem #dee2e6;
}

.simple-button:hover {
    background-color: #ffffff;
    color: #6e84b1d8;
    height: 3rem;
    width: 60%;
    max-width:60%;
    text-align: center;
    border-radius: 0.3rem;
    border: 0.01rem solid #dee2e6;
    box-shadow: inset 0 0 0.1rem #dee2e6; 
}

/* tbody tr {
    border-bottom: 1px solid #dee2e6;
} */

.p-datatable {
    /* border: 0.001rem solid #dee2e6; 
    border-radius: 0.2rem; */
}

thead.p-datatable-thead {
    background-color: #fff !important;
}

table#border.bordered {
    margin-top: 0;
    margin-bottom: 6px !important;
}



.p-paginator-bottom {
    border: none;
}

.p-column-title {
    font-size: 14px;
    color: #6b7280;
}

.p-toolbar {
    background-color: #fff;
}

.green-active-button {
    background-color: #4ed14e;
    height: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #fff
}

.red-nonactive-button {
    background-color: #ff0000;
    height: 1rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #fff;
}

.form-control:disabled {
    color: #4b5563 !important; 
    background-color : #b5daf371 !important; 
}

.form-select:disabled {
    color: #4b5563 !important;
    background-color : #b5daf371 !important;
 
}

.triase-merah, .triase-merah:hover {
    background-color: #e44141;
    width:40%;
    max-width: 40%;
    border: 0.01rem solid #e44141;
    border-radius: 0.1rem;

}

.confirm-button {
    background-color: #6e84b1;
    color: #fff;
    width:20%;
    max-width: 20%;
    border: 0.01rem solid #6e84b1;
    border-radius: 0.2rem; 
}

.confirm-button:hover {
    background-color: #6e84b1d8;
    color: #fff;
    width:20%;
    max-width: 20%;
    border: 0.01rem solid #6e84b1d8;
    border-radius: 0.2rem; 
}

/* EDIT */

.edit-button {
    background-color: transparent;
    width:10%;
    max-width: 40%;
    color: #6e84b1;
    border: 0.01rem solid #6e84b1;
    border-radius: 0.2rem; 
}

.edit-button:hover {
    background-color: #ffffffb4;
    width:10%;
    max-width: 40%;
    color: #6e84b1;
    border: 0.01rem solid #6e84b1b2;
    border-radius: 0.2rem; 
}

/* DELETE */

.delete-button {
    background-color: #6e84b1;
    width:10%;
    max-width: 40%;
    border: 0.01rem solid #6e84b1;
    border-radius: 0.2rem; 
}

.delete-button:hover {
    background-color: #6e84b1d8;
    width:10%;
    max-width: 40%;
    border: 0.01rem solid #6e84b1d8;
    border-radius: 0.2rem; 
}

.triase-kuning, .triase-kuning:hover {
    background-color: #ebdd62fd;
    width:40%;
    max-width: 40%;
    border: 0.01rem solid #ebdd62fd;
    border-radius: 0.1rem;
}

.triase-hijau, .triase-hijau:hover {
    background-color: #7fb47ffd;
    width:40%;
    max-width: 40%;
    border: 0.01rem solid #7fb47ffd;
    border-radius: 0.1rem; 
}

.triase-hitam, .triase-hitam:hover {
    background-color: #334126fd;
    width:40%;
    max-width: 40%;
    border: 0.01rem solid #334126fd;
    border-radius: 0.1rem; 
}

.link-theme {
    background-color: none !important;
    color: #6e84b1;
    text-decoration: none;
}

.link-theme:hover {
    background-color: none !important;
    color: #6e84b1d8;
    text-decoration: underline;
}

/* DAFTAR PASIEN LAYOUT */



#form-label {
    font-size: small;
}


.simple-button:hover .simple-button:active {
    border: 1px solid #dee2e6 !important;
    background-color: #ffffffbb !important;
}

.cancel {
    margin-right: 1rem;
}

.blue-button {
    background-color: #4287f5;
    color: #ffffff;
    border-radius: 0.2rem;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    margin-top: 5rem;
    margin-bottom: 1rem;

    float: right;
    border: 1px solid #007BFF;
}

.blue-button-table {
    background-color: #4287f5;
    color: #ffffff !important;
    border-radius: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center !important;
    border: 1px solid #4287f5;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.blue-button-table:hover {
    background-color: #4287f5c7 !important;
    color: #fff;
    border-radius: 0.25rem !important;
}


.blue-button-lg {
    background-color: #4287f5;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    float: right;
    border: 1px solid #4287f5;
}

.blue-button-left-align {
    background-color: #4287f5;
    color: #ffffff;
    border-radius: 0.2rem;
    /* margin-bottom: 1rem; */ 
    border: 1px solid #4287f5;
}

.diagnosa-button {
    background-color: #4287f5;
    color: #fff;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    height: 3rem;
    font-weight:  600;
  
}

.intervensi-button {
    background-color: #e6f5ff;
    color: #0099ff ;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    height: 3rem;
    font-weight:  600;
}

.modify {
    padding-left: 0.7rem;
    padding-top: 0.5rem;
}

.container-modify {
    background-color: #fff;
    width: 95%;
    max-width: 100%;
    border-radius: 0.4rem;
    padding-Left: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagnosa-button:hover {
    box-shadow: 0 0 0px 2px #0099ff;
}

.box-panel {
    background-color: #e6f5ff;
    margin-top: 2rem;
    border-radius: 0.5rem;

}

.blue-button-left-align:hover, .blue-button-lg:hover {
    background-color: #0069D9;
    color: #fff;
}





.red-button {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #ffffff;
    border-radius: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    float: right;
}



.red-button:hover {
    background-color: #e02807;
    color: #ffffff;
}

.white-button {
    background-color: #ffffff;
    color: #000;
    border-radius: 0.2rem;
    border: 1px solid #cacaca;
}


.dashboard-box {
    width: 100%;
    max-width: 100%; 
    height: 4.5rem;
    box-shadow: 0px 2px 4px rgba(0.2, 0, 0, 0.2); 
    border-radius: 0.4rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.dashboard-box-layout {
    width: 100%;
    max-width: 100%; 
    height: 20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.4rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.table-box-layout {
    width: 100%;
    max-width: 100%; 
    height: 3.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.4rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.tbody-box-layout {
    width: 100%;
    max-width: 100%; 
    height: 68vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.4rem;
    margin-top: 0.7rem;
    position: fixed;
}

#thead-admin {
    background-color: #4287f51e;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 0.3rem !important;
    padding-left: 0.5rem;
}

.active {
    color: #4287f5;
}

.table-body {
    align-items: center;
    
}

.box {
    width: 100%;
    max-width: 100%;
    height: 4.5rem;
    /* border: 2px solid #4287f5; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 0.4rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.space-label {
    margin: 0;
    padding: 0;
    
}

.shift-label {
    font-size: 14px;
    text-align: left;
}

.box-detail, .box-detail:hover {
    width: 100%;
    max-width: 100%;
    border: 1px solid #e9ecef;
    margin-top: 1rem ;
}

#suhu {
    width: 20%;
    max-width: 20%;
}

#small-box-left {
    width: 10%;
    max-width: 10%;
    border-right-color: #fff;
}

#small-box-right {
    width: 10%;
    max-width: 10%;
    border-left-color: #fff;
}

#invisible {
    background-color: #fff !important;
    border-top-color: #cacaca;
    border-bottom-color: #cacaca;
    border-left-color: #fff;
    border-right-color: #fff;
}

#visibility-button {
    font-size: smaller;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #007BFF;
}

#visibility-button:hover {
    color: #cacaca;
}

#custom-margin {
    margin-right: 1.5rem ;
}

#custom-row {
    margin-top: 1rem;
}


.blue-button:hover {
    background-color: #0069D9;
    color: #ffffff;

}

.table-striped tbody tr:nth-last-of-type(odd) {
    background-color: #f7f7f7;
}

.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    border-radius: 0.7rem;
}

.hr-style {
    color: #161f7d;
  
}

.default {
    margin-top: 2rem !important;
}

/* Modal */

.modal-content {
    border-radius: 0.2rem;
}

/* MultiSelect */

.p-checkbox .p-checkbox-box {
    border: 0.02rem solid #ced4da;
    border-radius: 0.1rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: none !important;
}

.p-multiselect {
    border-radius: 1px !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    margin-right: 0.4rem !important;
    background-color: #efefef;
    border-radius: 0.2rem;
}

.p-icon.p-multiselect-token-icon {
    background-image: url('../x-icon.svg') !important;
    width: 10px;
    height: 10px;
    background-size: cover;
}

.p-multiselect-filter {
    box-shadow: none;
}

.p-multiselect-panel {
    width: 30% !important;
    max-width: 30% !important;
    margin: 0 auto;
    border-radius: 1px;
    box-shadow: none;
    border-top: none;

}

.p-multiselect-item[data-p-highlight="true"] {
    background: #e9ecef;
}

svg.p-icon.p-checkbox-icon.p-c[fill] {
    color: #e9ecef !important;
}

svg.p-checkbox-icon[data-p-highlight="true"] {
    fill: #006918 !important;
}




.gap-custom {
    margin: 0;
    padding: 0;
}


/* Multiselect */



.custom-select {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.container-set {
    margin: 0;
    padding: 0;
}

.select-box {
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    padding: 0 10px;
    cursor: pointer;
}

.select-box:disabled {
    background-color: #bbdcf1;
    cursor: context-menu;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    cursor: pointer;
}

.placeholder {
    background-color: #fff;
    cursor: pointer;
}

.placeholder:disabled {
    cursor: context-menu;
}

.tag {
    background-color: #ECECEC;
    color: #4b5563;
    border-radius: 0.3rem;
    margin-right: 5px;
    padding: 1px 7px;
    display: flex;
    align-items: center;
}

.modal-tag {
    background-color: #ECECEC;
    color: #4b5563;
    border-radius: 0.3rem;
    margin-right: 5px;
    margin-top: 1rem;
    padding: 1px 7px;
    display: inline-flex;
    align-items: center;
}

.modal-tag-list {
    list-style-type: none;
    padding: 0;
    flex: wrap;
}

.modal-tag-list .modal-tag {
    background-color: #ECECEC;
    color: #4b5563;
    border-radius: 0.3rem;
    margin-right: 5px;
    margin-bottom: 5px ;
    padding: 1px 7px;
    display: inline-flex;
    align-items: center;
}

.modal-tag-list .modal-tag .remove-tag {
    margin-left: 5px;
    cursor: pointer;
}


.remove-tag {
    margin-left: 6px;
    cursor: pointer;
}

.arrow {
    margin: 0 6px;
    color: #4b5563 ;
}

.full-width-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}


.options {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-top: none;
    max-height: 25rem;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.selected {
    color: blue;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.open .options {
    display: block;
}

.option-search-tags {
    background: #fff;
    padding: 8px 0px;
    margin: 8px;
}

.search-tags-box {
    border: 1px solid #cacaca;
    border-radius: 0.2rem;
    
}

.search-tags {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
}



.see-option {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #cacaca;
}

.see-option-link {
    padding-left: 8px;
    padding-top: 8px;
    color: #007BFF;
    text-decoration: underline;
    cursor: pointer;
}

.clear, .clear:hover{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0.9rem;
    margin-top: 0.4rem;
    color: #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-space-between-columns {
    margin: 0;
    padding: 0;
}

.col-no-space {
    margin: 0;
    padding: 0;
}

.col-no-gap {
    margin: 0;
    padding: 0;
}


.row.no-space-between-columns {
    display:flex;
}

/* .row.no-space-between-columns > .no-space {
    flex:1;
} */

.row.no-space-between-columns > .no-space:not(:first-child) {
    margin-left: 0;
    padding-left: 0;
}


.option-select {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
}

.option-select:active {
    color: #4b5563;
    background-color: #ECECEC;
    border-bottom: 1px solid #eaeaea ;
}

.tag:hover , .option-select:hover {
    background-color: #eaeaea;
}

.no-result-message {
    padding: 0px 0px 12px  12px;
}

.mobile-title {
    text-align: center;
    z-index: 101;
    padding-right: 3rem !important;
    display: none;
}

.text-alert-search {
    color: #085b93;
}





























/* Buat Mobile */
@media (max-width: 600px) {
    .content {
        padding-top: 2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        z-index: 1;
    }

    .content-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    .hr-custom {
        margin: 0;
        margin-top: 6px;
        color: #085b93;

    }

    nav.mobile-navbar {
        height: 4.5rem;
        background-color: #fff;
    }


    .mobile-title {
        text-align: center;
        z-index: 101;
        padding-right: 9rem !important;
        display: block;
        font-family: "Roboto", sans-serif;
        padding-top: 1rem;
    }

    .mobile-title-home{
        text-align: center;
        z-index: 101;
        margin-left: 10rem !important;
        display: block;
        font-family: "Roboto", sans-serif;
        padding-top: 1rem;
    }
    

    .mobile-sidebar {
        margin-left: -0.8rem;
        font-family: "Roboto", sans-serif;
    }

    .back-disabled {
        color: #fff !important;
        display: none;
    }

    .back-disabled:disabled, btn:disabled {
        opacity: 100;
        background-color: none;

    }

    button.btn.back-disabled {
        background-color:none !important;
    }

    .dashboard-box {
        width: 100%;
        max-width: 100%; 
        height: 4.5rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
        border-radius: 0.3rem;
        margin-top: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        background-color: #fff;
        padding-left: 0.5rem;
    }

    .alert-pasien {
        width: 100%;
        max-width: 100%;
        background-color: #f6fafd;
        border: 1px solid #dfedf8;
        border-radius: 0.3rem;
        border-left: 4px solid #085b93;
        height: 3rem;
        padding-left: 0.5rem;
        padding-top: 0.1rem;
        text-align: left;
        position: sticky;
    }

    .alert-info {
        font-weight: 500;
        color: #085b93;
        font-size: 14px;
        text-transform: uppercase;
    }

    .box-pasien-info {
        width: 100%;
        max-width: 100%;
        background-color: #f6fafd;
        height: 20rem;
        padding-left: 0.5rem;
    }

    .box {
        width: 100%;
        max-width: 100%;
        height: 4.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        border-radius: 0.4rem;
        margin-top: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        z-index: 2;
        background-color: #fff; /* add a background color if needed */
        position: relative;
        border-bottom: 4px solid #085b93;
    }

    .blue-button-left-align {
        background-color: #085b93;
        color: #ffffff;
        border-radius: 1rem;
        font-size: 13px;
        border: 1px solid #085b93;
        width: 11rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 0.3rem ;
    }

    .blue-button-left-align-small {
        background-color: #085b93;
        color: #ffffff;
        border-radius: 1rem;
        font-size: 13px;
        border: 1px solid #085b93;
        width: 5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 0.3rem ;
    }

    .blue-button-lg {
        background-color: #085b93;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        border-radius: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        float: right;
        border: 1px solid #085b93;
        max-width: 100%;
        width: 100%;

    }

    .list-group-item {
        padding-bottom:2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .list-group-item a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .title-profile {
        color: #cacaca;
    }


    .navbar-alert {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-shift {
        height: 1.5rem;
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        color: #085b93;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 101;
        margin-top: -0.5rem !important;

    }
    
    .navbar-span {
        font-size: 13px;
        padding-top: 1rem;
    }

    .header-navbar-mobile {
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        border-bottom: 4px solid #085b93;
        background-color: #085b93;
        color: #fff;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        z-index: 100;
        position: sticky;
     
    }

    

    .navbar-bottom {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff; /* Set your desired background color */
        border-top-right-radius: 4px solid #085b93; 
        border-top-left-radius: 4px solid #085b93;
        border-top: 4px solid #085b93;
        border-radius: 1rem;
        z-index: 1000; /* Ensure it's above other content */
        text-align: center;
    }


    .navbar-child{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 4.5rem;
        width: 4.7rem;
        padding-top: 0.7rem;
        margin-right: 4px;
    }


    .link-active {
        background-color: #085b93;
        border: 1px solid #085b93;
        border-radius: 0.3rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-top: 0.5rem;
        margin-right: 4px;
        height: 4rem;
        width: 4.7rem;
        transition: transform 0.3s ease;
    }


    .link-active-text {
        color: #fff !important;
    }

    .navbar-mobile-text {
        font-size: 13px;
    }

    .navbar-link {
        text-decoration: none;
        align-items: center;
        text-align: center;
        color: #085b93;
    }

    .navbar-link:active {
        color: #fff;
    }
    

    h2 {
        display: none;
    }

    .sidebar_false {
        display: none;
    }

    .content-true {
        margin-left: 0rem;
        transition: none !important;
    }

    #form-control-header-form-mobile {
        border-radius: 0px !important;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    


    button#sidebar.btn.sidebarbutton {
        align-items: center;
    }

    button.accordion-button.accordion-button.collapsed {
        z-index: 102;
    }

    #suhu {
        width: 88%;
        max-width: 88%;
    }

    #small-box-left, #small-box-right {
        width: 35%;
        max-width:37%;
    }


    .diagnosa-button {
        width: 100%;
        max-width: 100%;
    }

    .p-toolbar-group-end {
        width: 100%;
    }

    .p-datatable .p-datatable-thead > tr > th {
        font-family: "Inter", sans-serif;
    }

    .p-datatable .p-datatable-thead > tr:first-child > th:first-child {
        background: #f6fafd !important ;
        border: 1px solid #ebeff6;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        border-right: 0px;
    }

    .p-datatable .p-datatable-thead > tr:first-child > th:last-child {
        background: #f6fafd !important ;
        border: 1px solid #ebeff6;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        border-left: 0px;
    }



    .p-datatable .p-datatable-tbody > tr > td {
        margin-bottom: 1rem !important;
        background: #f6fafd !important ;
        border-bottom: 1px solid #ebeff6 !important;
    }


    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #085b93;
        color: #fff;
        border: 1px solid #085b93;
        border-radius: 1.5rem;
    }
    


    
    .table td {
        padding-top: 1rem ;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    

    .form-control {
        width: 100%;
        max-width: 100%;
    }


    .search-input-admin {
        width: 100%;
        max-width: 100%;
    }

    .custom-table th:nth-child(1),
    .custom-table td:nth-child(1) {
        width: auto;
    }

    .custom-table th:nth-child(2),
    .custom-table td:nth-child(2) {
        width: auto;
    }

    .table-height {
        height: 3rem;
    }

    .option-button-svg, .option-button-svg:hover {
        color: #3a3636;
        background-color: #fff;
        border: 0.1rem solid #dddee0;
        border-radius: 0.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
    }
    
    .svg-askep {
        width: 100%;
        color: #4b5563;
        margin: 0 auto;
    }

    

    .p-multiselect-item span{
        word-break: keep-all;
    }

    .p-multiselect-panel {
        width: 30% !important;
        max-width: 30% !important;
        margin: 0 auto;
        border-radius: 1px;
        box-shadow: none;
        border-top: none;

    }

    .p-dropdown-item {
        word-break: keep-all;
    }

    .simple-button, .simple-button:hover {
        background-color: #085b93;
        color: #fff;
        height: 1.7rem;
        width: 100%;
        max-width: 100%;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        font-size: 13px;
        border-color: #085b93;
    }
    

    .p-multiselect-item {
        white-space: normal;
    }

    .sidebar_full {
    width: 100%;
    }

    .sidebar {
        display: flex;
        margin-top: 4.5rem;
    }

    #sidebar {
        margin-left: 0.3 !important;
    }


    .p-row-odd {
        margin-top: 0.5rem;
        border: 1px solid #cacaca !important;
        
    }

    .text-alert-search {
        color: #085b93;
    }

    .custom-search {
        border-color: #085b93;
        width: 60%;
        max-width: 60%;
        height: 2rem;
    }

    .table-mobile {
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
    }


    .td, .th {
        border: 1px solid #cacaca
    }

    .tr:first-child .th:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    .tr:first-child .th:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    











    
    
    

    
   
    
}





